/*==================== Theme Menu ====================*/
/*=== navbar background color ===*/
.inspiralia-search-box .inspiralia-search .btn, .navbar-wp .dropdown-menu > .active > a, .navbar-wp .dropdown-menu > .active > a:hover, .navbar-wp .dropdown-menu > li > a:hover, .navbar-wp .navbar-toggle:hover, .inspiralia-search-box .inspiralia-search .btn {
	background-color: #FFF;
}

.inspiralia-main-nav .navbar.navbar-default .container .navbar-header .navbar-toggle:hover {
	background-color: #00b1dd;
 }

.is-sticky .navbar-wp {
	background-color: rgba(0,0,0,0.9);
}
/*=== navbar hover color ===*/
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > li > a:hover, .navbar-header .navbar-brand , .navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > li > a:hover, .navbar-header .navbar-brand  {
	color: #58595b;
}
/*=== navbar hover border-color ===
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus,  .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .active > a:focus, .navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > .open > a:focus, .navbar-wp .navbar-toggle:hover, .navbar-wp .navbar-toggle:focus {
	border-color: #00b1dd;
}
*/


.wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control.wpcf7-not-valid {
  color: red;
  border-color: red;
}

h1.site-title a:hover, p.site-description{color:#00B1dd;}

.blog_content.newsletter {
	background-image: url('../../images/blog/newsletter_blog.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.blog_content.newsletter .title {
	color: #fff;
}

.blog_content.newsletter form input[type='submit'] {
	background-color: transparent;
	border: 1px solid #FFF;
	box-shadow: none;
}
.blog_content.newsletter form input[type='submit']:hover {
	background-color: #FFF;
	border: 1px solid #00b1dd;
	color: #00b1dd;
}

.inspiralia-section-background {
	background-color: #666;
}

.wrapper .navbar-background.internal {
	background-color: #CDCECE;
}
.wrapper .navbar-background {
	background-color: #FFF;
}

.inspiralia-slider-section .item a,
.inspiralia-slider-section .item a h2,
.inspiralia-slider-section .item  {
	color: #FFF;
}

.navbar-default {
	background-color: transparent;
}

.inspiralia-trhead.blog-header .inspiralia-main-nav #navbar-wp ul#menu-main li.menu-item a {
	color: #77828c;
}

.inspiralia-trhead.blog-header .inspiralia-main-nav #navbar-wp.internal img {
	border: none;
}

.inspiralia-trhead.blog-header .inspiralia-main-nav #navbar-wp.internal ul#menu-main li.menu-item a {
	color: #FFF;
	border-color: #FFF;
}

.owl-controls .owl-buttons {
	color: #FFF;
}

footer .inspiralia-widget ul li a:hover, footer .inspiralia-widget h6, footer a:hover, footer a:focus,
.inspiralia-widget .current-page-ancestor a, .inspiralia-widget .current-menu-item a {
	border-bottom-color: #FFF;
}


body, .inspiralia-main-nav .navbar.navbar-default .container .navbar-header .navbar-toggle {
	background-color: #FFF;
}

.wrapper {
	background-color: #FFF;
}

.navbar-wp .navbar-nav > li > ul::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00b1dd;
}
.navbar-wp .dropdown-menu > li {
    border-color: #e0eded;
}
/*=== navbar Header background ===*/
.navbar-wp {
	/*background-color: rgba(0,0,0,0);*/
}
.navbar-wp .dropdown-menu {
	background-color: #fff;
}
/*=== navbar drop down hover color ===*/
.inspiralia-search-box .inspiralia-search .btn, .navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-wp .dropdown-menu > .active > a, .navbar-wp .dropdown-menu > .active > a:hover, .navbar-wp .dropdown-menu > li > a:hover, .navbar-base .navbar-nav > li >a.dropdown-form-toggle, .navbar-wp .navbar-toggle:hover {
	color: #58595b;
}
.navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > li > a:hover {
	background-color: rgba(0,0,0,0);
}
/*=== navbar text color ===*/
.navbar-wp .internal .navbar-nav > .active > a:hover,
.navbar-default .internal .navbar-nav > .active > a:focus,
.navbar-wp .internal .navbar-nav > li > a {
	color: #FFF;
	border-color: #FFF;
}

.navbar-wp .navbar-nav > li > a {
	color: #58595b;
}
.navbar-toggle, .navbar-wp .dropdown-menu > li > a, .navbar-wp .navbar-nav > li > a.dropdown-form-toggle {
	color: #58595b;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-home .navbar-nav > li > a , .navbar-home .navbar-nav > li > a:hover {
	color: #58595b;
}

div.markets_list article.left,
div.markets_list article.left h3 {
	background-color: #FFF;
	color: #6d6e71;
}

div.markets_list article.right,
div.markets_list article.right h3 {
	background-color: #00b1dd;
	color: #FFF;
}

div.markets_list article.left span.information a {
	color: #00b1dd;
	border-color: #00b1dd;
}
div.markets_list article.left span.information a:hover {
	background-color: #00b1dd;
	color: #FFF;
}

div.markets_list article span.information a {
	border-color: #FFF;
	color: #FFF;
}

div.markets_list article span.information a:hover {
	color: #00b1dd;
}

/*==================== Body & Global ====================*/

body {
	color: #58595b;
}

/*=== background theme ===*/
.inspiralia-view-detail-slider .owl-controls .owl-buttons div:hover, .inspiralia-view-detail-slider .owl-controls .owl-page.active span, .inspiralia-feature-box-icon i:hover, input[type="submit"], button, .inspiralia-contact .inspiralia-widget-address li span.icon-addr, footer .inspiralia-mailchimp-widget .btn, footer .inspiralia-widget .inspiralia-widget-tags a:hover, footer .inspiralia-widget .tagcloud a:hover, footer .inspiralia-widget .inspiralia-widget-address li span.icon-addr, .inspiralia-slider-warraper .owl-controls.clickable .owl-page:hover span, .btn.btn-tislider:hover, .btn.btn-tislider:focus, .btn.btn-tislider-two, .content-testimonials span.icon-quote, #inspiralia-testimonial .owl-controls .owl-buttons div:hover, footer .calendar_wrap tbody #today, .inspiralia-sidebar .calendar_wrap tbody #today, .inspiralia-sidebar .inspiralia-widget .inspiralia-widget-address li span.icon-addr, .inspiralia-sidebar .inspiralia-mailchimp-widget .btn, .inspiralia-sidebar .inspiralia-widget .inspiralia-social li span.icon-soci:hover, .inspiralia-sidebar .inspiralia-widget h6::before, .inspiralia-sidebar > .inspiralia-widget-tags a:hover, .inspiralia-sidebar .inspiralia-widget > .tagcloud a:hover, #inspiralia-slider .aside-format .aside-icon, #inspiralia-slider .audio-format .audio-icon, #inspiralia-slider .quote-format .quote-icon, .inspiralia-port-modal .modal-header, .inspiralia-team-social, .inspiralia-callout-feature-box-icon:hover, .btn-theme, .btn-theme-two:hover, .btn-theme-two:focus, .btn-blog:hover, .inspiralia-portfolio-box-caption, .blog-slider .owl-controls .owl-buttons div:hover, .pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, footer .inspiralia-social li span.icon-soci:hover {
	background-color: #00b1dd;
}
.inspiralia-slider-warraper .owl-controls .owl-page span, .inspiralia-slider-warraper .owl-controls.clickable .owl-page:hover span, .inspiralia-slider-warraper .owl-controls .owl-page.active span, .inspiralia-slider-warraper .owl-controls .owl-page span:hover{
	background-color: #fff;
}
.inspiralia-slider-warraper .owl-controls .owl-page span, .inspiralia-slider-warraper .owl-controls.clickable .owl-page:hover span, .inspiralia-slider-warraper .owl-controls .owl-page.active span, .inspiralia-slider-warraper .owl-controls .owl-page span:hover {
	border-color: #00b1dd;
}
footer .inspiralia-widget .inspiralia-social li span.icon-soci:hover, .inspiralia-skills .progress-bar-theme {
 	background-color: #00b1dd;
}
.inspiralia-calltoaction .overlay {
	background-color: rgba(0,0,0,0.6);
}
/*==== color theme ===*/
a, .inspiralia-view-detail-content a, .inspiralia-blog-category a:hover, .inspiralia-blog-category a:focus, .inspiralia-callout-feature-box-info h4, .entry-header h1::before, .entry-content a, .entry-summary a, .entry-footer a, .inspiralia-sidebar a:hover, .inspiralia-sidebar a:focus, .btn.btn-tislider-two, .inspiralia-page-breadcrumb > li a:hover, .inspiralia-error-404 h1, .inspiralia-accordion-heading a, .inspiralia-accordion-heading a, .inspiralia-sidebar .inspiralia-widget .inspiralia-twitter-feed li a, .inspiralia-sidebar .inspiralia-widget .inspiralia-social li a, .inspiralia-feature-box-icon i, .inspiralia-callout-feature i, .inspiralia-callout-feature-box-icon i, .inspiralia-callout-feature-box-info h4, .btn-video, .btn-video:focus, .inspiralia-comments .inspiralia-reply:hover, .inspiralia-footer-top-area .inspiralia-app-widget h5 a i, footer .inspiralia-widget .inspiralia-twitter-feed li a, .ti_scroll i, .inspiralia-service-inner h3 span, .inspiralia-service:hover .ser-icon, .inspiralia-service:hover .ser-icon i, .inspiralia-funfact h3, .inspiralia-link-caption i {
	color: #00b1dd;
}
/*=== border theme ===*/
.inspiralia-view-detail-slider .owl-controls .owl-buttons div:hover, #inspiralia-slider .item .inspiralia-slider-inner .quote-format .quote-icon, footer .inspiralia-widget .inspiralia-social li span.icon-soci:hover, footer .inspiralia-social li span.icon-soci:hover, input[type="submit"], button, #inspiralia-slider .item .inspiralia-slider-inner .aside-format .aside-icon, .inspiralia-search-box .inspiralia-search .btn, .inspiralia-sidebar .inspiralia-widget .inspiralia-social li span.icon-soci:hover, #inspiralia-testimonial .owl-controls .owl-buttons div:hover, #inspiralia-slider .item .inspiralia-slider-inner .audio-format .audio-icon, #inspiralia-testimonial .owl-controls .owl-buttons div, #inspiralia-testimonial .owl-controls .owl-buttons div:hover, .inspiralia-callout-feature-box-icon, .inspiralia-callout-feature-box-icon:hover, .btn-blog:hover, .blog-slider .owl-controls .owl-buttons div:hover, footer .inspiralia-widget .inspiralia-subscribe, footer .inspiralia-widget.widget_search .btn, footer .inspiralia-widget .inspiralia-widget-tags a:hover, footer .inspiralia-widget .tagcloud a:hover, .btn-theme-two:hover, .btn-theme-two:focus, .inspiralia-sidebar .inspiralia-widget h6::before, .inspiralia-sidebar .inspiralia-widget h2::before, .ti_scroll, .ti_scroll:hover, .ti_scroll:focus, .pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .wpcf7-form .wpcf7-form-control:hover, .wpcf7-form .wpcf7-form-control:focus, .wpcf7-form .wpcf7-form-control.wpcf7-submit, .inspiralia-sidebar .inspiralia-widget-tags a:hover, .inspiralia-sidebar .inspiralia-widget .tagcloud a:hover, .inspiralia-sidebar .inspiralia-widget .inspiralia-social li span.icon-soci, .form-control:focus, .form-control:hover, .form-control:active, .inspiralia-contact h5::before, .btn.btn-tislider:hover, .btn.btn-tislider:focus, .btn.btn-tislider-two, .inspiralia-slider-warraper .owl-controls .owl-buttons div:hover, #inspiralia-slider .item .inspiralia-slider-inner .quote-format .quote-icon, #inspiralia-slider .item .inspiralia-slider-inner .aside-format .aside-icon, #inspiralia-slider .item .inspiralia-slider-inner .audio-format .audio-icon, .inspiralia-heading-bor-bt h5::before, .inspiralia-skills h5::before, .inspiralia-feature-box-icon i, .inspiralia-feature-box-icon i:hover, .inspiralia-callout-feature-box-icon, blockquote, input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-color: #00b1dd;
}
#product .inspiralia-product a h3 {
	color: #333;
}
#product .inspiralia-product a.button {
    background-color: #00b1dd;
    color: #fff;
}
#product .inspiralia-product a.button:hover, #product .inspiralia-product a.button:focus {
    background-color: #222;
}

#product .row .needs-section-arrow {
	background-color: #00b1dd;
}

.inspiralia-section.inspiralia-our-value, #product .row .need-item,
#product .row .need-item h2 {
	color: #58595b;
}

.testimonials-section .sub-qute {
    border-color: #00b1dd;
    background-color: #00b1dd;
}
.testimonials-section .sub-qute::before {
    border-top-color: #00b1dd;
}
.inspiralia-section .need-item.need-information .button, .testimonials-section .inspiralia-client:before {
	background-color: #fff;
	color: #00b1dd;
}
.inspiralia-section .need-item.need-information .button, .testimonials-section .inspiralia-client img {
	border-color: #00b1dd;
}

.inspiralia-section .need-item.need-information .button:hover {
	background-color: #00b1dd;
	color: #fff;
}

.inspiralia-heading-bor-bt h5::before, .inspiralia-skills h5::before  {
	border-bottom-color: #00b1dd;
}

section.hero-blog-title {
	background-color: #00b1dd;
}

section.hero-blog-title h2.inspiralia-blog-title {
	color: #FFF;
}

main#content .blog_post article .introduction {
	color: #00b1dd;
}

main#content .blog_post article .small .inspiralia-blog-date span {
	color: #E4E5E4;
}

main#content .blog_post article hr {
	border-top: 1px solid #00b1dd;
	border-bottom: 1px solid #00b1dd;
	padding: 3px;
}


main#content .blog_post .newsletter {
	background-color: #00b1dd;
}

main#content .blog_post .newsletter .title {
	color: #FFF;
}

main#content .blog_post .newsletter .row div input.submit {
	background-color: #00b1dd;
	border-color: #fff;
	color: #FFF;
}

main#content .blog_post .newsletter .row div input.submit:hover {
	background-color: #FFF;
	border-color: #00b1dd;
	color: #00b1dd;
}

main#content .blog_post aside.share_links a {
	color: #e5e5e5;
}

main#main section.description, main#main section.description h2 {
	color: #58595b;
}

/* =============================================== */
.hero-case-studies-title .inspiralia-case-studies-title {
	color: #00b1dd;
}

.hero-case-studies-title .inspiralia-case-studies-date span {
	color: #e5e5e5;
}

.case_studies_post article .services_provided .row .imagen h4,
.case_studies_post article .services_provided h3.header-3,
.case_studies_post article h2.header-2 {
	color: #00b1dd;
}

.case_studies_post aside .title {
	color: #00b1dd;
}

.case_studies_post aside .markets_relation {
	background-color: #f2f2f2;
}
.case_studies_post aside .markets_relation h2 {
	color: #00b1dd;
}
.case_studies_post aside .markets_relation img {
	border-color: #00b1dd;
}
.case_studies_post aside .shared_links {
	background-color: #00b1dd;
}

.case_studies_post aside .shared_links a {
	color: #FFF;
}

.case_studies_post aside .newsletter {
	background-color: #f2f2f2;
}

.case_studies_post aside .newsletter form p input[type="submit"] {
  background-color: transparent !important;
  border-color: #00b1dd;
  border-width: 1px;
  border-style: solid;
  color: #00b1dd;
  box-shadow: none;
}

.case_studies_post .members_of .row > div img:hover {
	filter: grayscale(100%);
}

.cases_studies_list .item a .post_image {
	background-color: #00b1dd;
}

.cases_studies_list .item a .information {
	background-color: #f2f2f2;
}


.cases_studies_list .item a .information h2 {
	color: #6d6e71;
}


.cases_studies_list .item a .information p {
	color: #58595b;
}


/*=== theme hover background ===*/
.btn.btn-tislider-two:hover, .btn.btn-tislider-two:focus, footer .inspiralia-widget .inspiralia-subscribe:hover, footer .inspiralia-widget .inspiralia-subscribe:focus, footer .inspiralia-widget.widget_search .btn:hover, footer .inspiralia-widget.widget_search .btn:focus, .inspiralia-sidebar .widget_search .btn:hover, .inspiralia-sidebar .widget_search .btn:focus, .inspiralia-sidebar .inspiralia-mailchimp-widget .btn:hover, .inspiralia-sidebar .inspiralia-mailchimp-widget .btn:focus {
	background-color: #222;
}

.inspiralia-blog-post-box h2.inspiralia-blog-title a:hover, .inspiralia-blog-post-box h2.inspiralia-blog-title a:focus {
	color: #00b1dd;
}
.inspiralia-blog-post-box .small {
	background-color: rgba(0,0,0,0.3);
}

.inspiralia-blog-post-box.white h2.inspiralia-blog-title, .inspiralia-blog-post-box.white h2.inspiralia-blog-title a {
	color: #212121;
}
.inspiralia-blog-post-box.white .small {
	background-color: #fff;
}
.inspiralia-blog-post-box.white .small > p {
	color: #58595b;
}
.inspiralia-blog-post-box.white .inspiralia-blog-date {
	color: #58595b;
}
.inspiralia-blog-post-box.white h2.inspiralia-blog-title a:hover, .inspiralia-blog-post-box.white h2.inspiralia-blog-title a:focus {
	color: #00b1dd;
}
.inspiralia-blog-post-box.white .inspiralia-blog-date span i, .inspiralia-blog-post-box.white .inspiralia-blog-date span {
	color: #58595b;
}
.inspiralia-blog-post-box.white .inspiralia-blog-category a {
	color: #58595b;
}

.inspiralia-project-news-section .row .item.projects-news-item .inspiralia-project-news-post-box.white,
.inspiralia-project-news-section .row .item.projects-news-item .inspiralia-project-news-post-box.white h4 {
	color: #58595b;
}

.inspiralia-project-news-section .row .item .inspiralia-project-news-post-box.white,
.inspiralia-project-news-section .row .item .inspiralia-project-news-post-box.white h4 {
	color: #FFF;
}

.inspiralia-project-news-section .row .item-more {
	background-color: #00b1dd;
}

.inspiralia-project-news-section .row .item-more .inspiralia-project-news-more {
	color: #FFF;
}

.proud-member-information .title-information {
	color: #a7a9ac;
}

section.team-section main.container .item_join_us header h3 {
	color: #00b1dd;
}

/*=== theme hover border-color ===*/
footer .inspiralia-widget.widget_search .btn:hover, footer .inspiralia-widget.widget_search .btn:focus, footer .inspiralia-widget .inspiralia-subscribe:hover, footer .inspiralia-widget .inspiralia-subscribe:focus, .btn.btn-tislider-two:hover, .btn.btn-tislider-two:focus {
	border-color: #222;
}

.inspiralia-service, .inspiralia-service:hover .ser-icon, .inspiralia-link-caption i, .inspiralia-feature, .blog-slider .owl-controls .owl-page span, .inspiralia-clients-section {
	background-color: #fff;
}
.inspiralia-service :hover .inspiralia-service-inner i, .inspiralia-service-inner h3, .inspiralia-service-inner h3 a, .inspiralia-service-inner p, .inspiralia-service :hover .inspiralia-service-inner h3, .inspiralia-service-inner .btn-more, footer .inspiralia-widget-payment a:hover, .inspiralia-detail-download .btn-download, .inspiralia-slider-warraper .owl-controls .owl-buttons div, .inspiralia-view-detail-slider .owl-controls .owl-buttons div,footer .inspiralia-social li span.icon-soci:hover i, .btn.btn-tislider, .inspiralia-service:hover .ser-icon, .inspiralia-sidebar .widget_product_search .btn, footer .widget_product_search .btn, .btn-theme-two, .inspiralia-service:hover .inspiralia-service-inner p, footer .inspiralia-widget ul li, footer .inspiralia-widget.widget_search .btn:hover, footer .calendar_wrap table tbody td, footer .inspiralia-widget .inspiralia-opening-hours li:hover, footer .inspiralia-widget .list-unstyled li a:hover, footer .inspiralia-widget.widget_search .btn:focus, footer .inspiralia-widget .inspiralia-subscribe:hover, footer .inspiralia-widget .inspiralia-subscribe:focus, .inspiralia-video .overlay .inspiralia-heading-inner, .inspiralia-video .overlay .subtitile, .inspiralia-calltoaction, .inspiralia-calltoaction h5, .inspiralia-calltoaction .btn-theme, .inspiralia-blog-date, .btn-blog:hover, .blog-slider .owl-controls .owl-buttons div, .blog-slider .owl-controls .owl-buttons div:hover, .inspiralia-contact .inspiralia-widget-address .icon-addr, .inspiralia-contact .inspiralia-widget-address li span.icon-addr i, footer .inspiralia-widget .inspiralia-social li span.icon-soci:hover i, .btn.btn-tislider, .btn.btn-tislider:hover, .btn.btn-tislider:focus, .inspiralia-plans .inspiralia-plan header, .inspiralia-plans .inspiralia-plan h2, .inspiralia-plans .inspiralia-plan .inspiralia-pupular-ribbon, .inspiralia-plans .inspiralia-plan .inspiralia-new-ribbon, .inspiralia-plans .inspiralia-plan .inspiralia-upcoming-ribbon, footer .inspiralia-widget .inspiralia-widget-address li span.icon-addr, footer .inspiralia-widget .inspiralia-social li span .icon-soci:hover, footer .inspiralia-widget .inspiralia-widget-tags a:hover, footer .inspiralia-widget .tagcloud a:hover, footer .calendar_wrap a, footer .calendar_wrap table tbody #today, footer .widget_rss, .pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .inspiralia-feature-box-icon i:hover, .inspiralia-slider-inner h1, .inspiralia-slider-inner h3, .inspiralia-slider-inner p, .inspiralia-breadcrumb-title h1, .inspiralia-page-breadcrumb > li + li:before, .inspiralia-page-breadcrumb > li a, .content-testimonials span.icon-quote, #inspiralia-testimonial .owl-controls .owl-buttons div, #inspiralia-testimonial .owl-controls .owl-buttons div:hover, .testimonials-section .user-designation, .inspiralia-sidebar .inspiralia-widget .inspiralia-widget-address li span.icon-addr, .inspiralia-skills .progress-bar-theme, .btn, .btn-theme:hover, .btn-theme:focus, .btn-theme-two:hover, .btn-theme-two:focus, .inspiralia-sidebar .inspiralia-widget .inspiralia-social li span.icon-soci:hover i, .inspiralia-sidebar .inspiralia-widget .inspiralia-social li span.icon-soci:hover, .inspiralia-sidebar .inspiralia-mailchimp-widget .btn, #inspiralia-slider .item .inspiralia-slider-inner .aside-format .aside-icon i, #inspiralia-slider .item .inspiralia-slider-inner .aside-format .aside-format-inner, #inspiralia-slider .item .inspiralia-slider-inner .audio-format .audio-icon i, #inspiralia-slider .item .inspiralia-slider-inner .audio-format .audio-format-inner, #inspiralia-slider .item .inspiralia-slider-inner .quote-format .quote-icon i, #inspiralia-slider .item .inspiralia-slider-inner .quote-format .quote-format-inner, .inspiralia-service:hover .ser-icon, .inspiralia-service:hover h3, .inspiralia-service:hover p, .inspiralia-service:hover a, .inspiralia-service:hover .inspiralia-service-inner h3 span, .inspiralia-service:hover .inspiralia-service-inner .btn-more, .inspiralia-funfact h3.inspiralia-heading-inner, .inspiralia-funfact, .inspiralia-portfolio-box .inspiralia-portfolio-box-caption, .inspiralia-link-caption a, .inspiralia-portfolio-box .inspiralia-portfolio-box-caption .inspiralia-portfolio-box-caption-content .inspiralia-project-category a, .inspiralia-port-modal .modal-title, .inspiralia-sidebar .inspiralia-widget-tags a:hover, .inspiralia-sidebar .inspiralia-widget .tagcloud a:hover, .inspiralia-sidebar .calendar_wrap tbody #today, .inspiralia-sidebar .widget_search .btn, footer .inspiralia-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit, .wpcf7-form .wpcf7-form-control.wpcf7-submit, .btn.btn-tislider-two, .btn-tislider-two:hover, .btn-tislider-two:focus, .inspiralia-slider-warraper .owl-controls .owl-buttons div, .inspiralia-slider-warraper .owl-controls .owl-buttons div:hover, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, input[type="submit"], button, .inspiralia-subscriber h4, .inspiralia-subscriber h2, .inspiralia-search-box .inspiralia-search .btn, .inspiralia-search .btn-submit, input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	color: #fff;
}

.inspiralia-breadcrumb-section .overlay {
	background-color: #58595b;
}

.inspiralia-specialization {
	background-color: #00b1dd;
	color: #FFF;
}

.inspiralia-section.inspiralia-specialization h3 {
	color: #FFF;
}

.inspiralia-service:hover .inspiralia-service-inner i, .inspiralia-service:hover, .inspiralia-service:hover .inspiralia-service-inner .btn-more, .inspiralia-funfact .inspiralia-heading .inspiralia-heading-inner::before, .btn-theme-two, .testimonials-section .inspiralia-heading .inspiralia-heading-inner::before, .inspiralia-callout .inspiralia-heading .inspiralia-heading-inner::before, .inspiralia-service-inner .btn-more, .inspiralia-funfact .inspiralia-heading-inner::before, .inspiralia-callout .inspiralia-heading-inner::before, .inspiralia-video .overlay .inspiralia-heading-inner::before, .blog-slider .owl-controls .owl-buttons div, #inspiralia-testimonial .owl-controls .owl-buttons div, .testimonials-section .inspiralia-heading-inner::before, #inspiralia-testimonial .owl-controls .owl-buttons div {
	border-color: #fff;
}
.inspiralia-team-social a:hover, footer .calendar_wrap table tbody #today:hover, footer .calendar_wrap table tbody td:hover, footer .inspiralia-widget .calendar_wrap table tfoot, .inspiralia-accordion-heading, .inspiralia-heading .inspiralia-heading-inner, footer .inspiralia-widget .calendar_wrap table tfoot a, .pagination > li > a, .woocommerce-page .products h3, .woocommerce div.product .woocommerce-tabs .panel h2, .related.products h2, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav .woocommerce-pagination ul li span, .inspiralia-sidebar .calendar_wrap table tbody td:hover, .inspiralia-sidebar .calendar_wrap table tbody #today:hover, .inspiralia-sidebar .calendar_wrap table tfoot {
	color: #333;
}
.inspiralia-heading .inspiralia-heading-inner::before {
	border-color: #333;
}
.inspiralia-sidebar .inspiralia-widget {
    border-color: #00b1dd;
    background-color: #fff;
}
.inspiralia-sidebar a {
    color: #666;
}
.inspiralia-sidebar .inspiralia-widget-tags a, .inspiralia-sidebar .inspiralia-widget .tagcloud a, .btn-blog, .inspiralia-sidebar .calendar_wrap table tbody td, .inspiralia-sidebar .calendar_wrap table tbody td a {
	color: #999;
}
.inspiralia-accordion-body, .inspiralia-funfact-inner {
	border-color: #ccc;
}

.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus, .form-control, .form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder,.inspiralia-subscriber .subscription-form .int-box, label, input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	color: #ccc;
}

.grey-bg, footer .calendar_wrap table tfoot, .inspiralia-sidebar .calendar_wrap table tfoot {
	background-color: #f5f5f5;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav .woocommerce-pagination ul li span, .inspiralia-sidebar .inspiralia-widget .calendar_wrap table tbody td, .inspiralia-sidebar .calendar_wrap table tfoot, footer .calendar_wrap table tbody td, footer .calendar_wrap table tfoot, .inspiralia-sidebar .calendar_wrap table thead th, .inspiralia-sidebar .calendar_wrap table caption {
	border-color: #ddd;
}
.inspiralia-sidebar .calendar_wrap table caption, footer .calendar_wrap caption {
	background-color: #eee;
}
.inspiralia-plan-price .inspiralia-currency, .inspiralia-plan-price .inspiralia-period, .inspiralia-sidebar .inspiralia-widget .textwidget, .inspiralia-sidebar .inspiralia-widget .inspiralia-twitter-feed li, .inspiralia-sidebar .calendar_wrap table thead th {
	color: #FFF;
}
.inspiralia-sidebar .inspiralia-widget h6, .inspiralia-sidebar .inspiralia-widget h2, .inspiralia-feature-box-info h4, .entry-header h1, .inspiralia-skills h5, .inspiralia-skills h6 {
	color: #1c1f24;
}
.btn-video:hover, .entry-content a:hover, .entry-summary a:hover, .entry-footer a:hover {
	color: #444;
}
.inspiralia-service-inner .btn-more {
	border-color: #fff;
}
.inspiralia-sidebar .inspiralia-widget-tags a, .inspiralia-sidebar .inspiralia-widget .tagcloud a {
	background-color: #f0f0f0;
}
.inspiralia-comments .inspiralia-reply, .inspiralia-sidebar .inspiralia-category-widget ul li, .inspiralia-sidebar .inspiralia-widget ul li, .inspiralia-sidebar .inspiralia-widget-tags a, .inspiralia-sidebar .inspiralia-widget .tagcloud a {
	border-color: #f0f0f0;
}
footer .calendar_wrap table tbody #today:hover, footer .calendar_wrap table tbody td:hover, .inspiralia-sidebar .calendar_wrap table tbody td:hover, .inspiralia-sidebar .calendar_wrap table tbody #today:hover {
	background-color: #f1f1f1;
}
footer .inspiralia-widget .wpcf7-form .wpcf7-form-control, footer .inspiralia-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover, .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover, .btn-theme:hover, .btn-theme:focus, .inspiralia-footer-copyright, footer .inspiralia-widget .inspiralia-widget-quote .form-control, input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	background-color: #222;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit:hover, .inspiralia-calltoaction .btn-theme:hover, .inspiralia-calltoaction .btn-theme:focus, input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	border-color: #222;
}
.inspiralia-accordion-heading {
	background-color: #f5f5f5;
}
.btn-theme-two {
	color: #f5f5f5;
}

#accordion li.active, #accordion_custom li.active {
	background-color: #00b1dd;
	color: #FFF;
}

#accordion li h2, #accordion_custom li h2 {
	color: #FFF;
}

#accordion li a, #accordion_custom li a {
	border-color: #fff;
	color: #FFF;
}
#accordion li a:hover, #accordion_custom li a:hover {
	color: #00b1dd;
}


#accordion li:nth-child(odd) img, #accordion_custom li:nth-child(odd) img {
	filter: grayscale(100%) brightness(200%) contrast(100%);
}

#accordion li:nth-child(odd), #accordion_custom li:nth-child(odd){
	background-color: #00b1dd;
	color: #FFF;
}

#accordion li:nth-child(odd) h2, #accordion_custom li:nth-child(odd) h2 {
	color: #FFF;
}

#accordion li:nth-child(even), #accordion_custom li:nth-child(even) {
	background-color: #F1F2F1;
	color: #00b1dd;
}

#accordion li:nth-child(even) h2, #accordion_custom li:nth-child(even) h2{
	color: #00b1dd;
}
#accordion li:nth-child(even) a, #accordion_custom li:nth-child(even) a{
	color: #00b1dd;
	border-color: #00b1dd;
}
/*==================== Body & Global ====================*/
.form-control, .inspiralia-contact .inspiralia-widget-address > li, .woocommerce-cart table.cart td.actions .coupon .input-text, .wpcf7-form .wpcf7-form-control, input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	border-color: #ebebeb;
}

.inspiralia-section.inspiralia-markets-intro a.btn:hover {
	background-color: #FFF;
  border-color: #00b1dd;
  color: #00b1dd;
}

.inspiralia-section.inspiralia-markets-intro .market-without-background h5,
.inspiralia-section.inspiralia-markets-intro .market-without-background h4,
.inspiralia-section.inspiralia-markets-intro .market-without-background h3,
.inspiralia-section.inspiralia-markets-intro .market-without-background h2 {
	color: #00b1dd;
}


.inspiralia-section.inspiralia-markets-intro .market-without-background a.btn {
	background-color: #00b1dd;
  border-color: #00b1dd;
  color: #FFF;
}

.inspiralia-section.inspiralia-markets-intro .market-without-background a.btn:hover {
	background-color: #FFF;
  border-color: #00b1dd;
  color: #00b1dd;
}

.inspiralia-section.inspiralia-leading-market.inspiralia-internal a.btn:hover, .map-information .button-information:hover, .inspiralia-section.inspiralia-sourcing a.btn:hover, .inspiralia-section.inspiralia-leading-market a.btn:hover,
.btn:hover, .btn:hover {
    background-color: #FFF;
    border-color: #00b1dd;
    color: #00b1dd;
  }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #212121;
}
.inspiralia-service-inner i {
	color: #3a3a3a;
}
.inspiralia-funfact .overlay {
	background-color: rgba(32, 40, 48, 0.8);
}
.inspiralia-callout .overlay {
	background-color: rgba(0, 5, 8, 0.7);
}
.inspiralia-video .overlay {
	background-color: rgba(0,0,0,0.7);
}
.inspiralia-blog-section .overlay {
	background-color: rgba(255,225,225,0);
}
.inspiralia-port-modal .modal-header .close {
	background-color: transparent;
}
.btn-blog {
	border-color: #e1e1e1;
}
.inspiralia-plans .overlay {
	background-color: rgba(245,245,245,1);
}
.inspiralia-plans .inspiralia-plan header {
	background-color: #232c3b;
}
.inspiralia-plan-features {
	background-color: #f5f7fa;
	border-color: #e6e9ed;
}
.inspiralia-plans .inspiralia-plan .inspiralia-pupular-ribbon {
	background-color: #32c5d2;
}
.inspiralia-plans .inspiralia-plan .inspiralia-new-ribbon {
	background-color: #4caf50;
}
.inspiralia-plans .inspiralia-plan .inspiralia-upcoming-ribbon {
	background-color: #e64a19;
}
.inspiralia-contact .inspiralia-widget-address > li {
	color: #959595;
}
.inspiralia-subscriber .overlay {
	background-color: rgba(32, 40, 48, 0.6);
}
.inspiralia-sidebar .inspiralia-widget .inspiralia-social li span.icon-soci, .btn-theme-two, .inspiralia-feature-box-icon i, .inspiralia-callout-feature-box-icon i, footer .inspiralia-widget .form-control, footer .inspiralia-widget .inspiralia-social li span.icon-soci {
	background-color: rgba(0,0,0,0);
}
.btn.btn-tislider {
	background-color: rgba(255, 255, 255, 0.4);
}
.btn-tislider {
	border-color: rgba(255, 255, 255, 0);
}
.inspiralia-accordion-heading, .inspiralia-sidebar {
	border-color: rgba(0,0,0,0.1);
}
.testimonials-section .overlay {
	background-color: rgba(18, 4, 1, 0.65);
}
.inspiralia-team-info {
	background-color: rgba(225, 225, 225, 0.80);
}
.inspiralia-team-box:hover .inspiralia-team-info {
	background-color: #00b1dd;
}
.inspiralia-team-info h3, .inspiralia-team-info {
	color: #222;
}
.inspiralia-team-box:hover .inspiralia-team-info h3,.inspiralia-team-info:hover p, .inspiralia-team-social a {
	color: #fff;
}

.inspiralia-portfolio-box .overlay .btn:hover {
	color: #fff;
	background-color: #00b1dd;
	border-color: #00b1dd;
}
.inspiralia-portfolio-box h4, .inspiralia-portfolio-box h4 a {
	color: #333;
}
.inspiralia-portfolio-category a {
	color: #a1a4a6;
}
.inspiralia-portfolio-category a:hover, .inspiralia-portfolio-category a:focus {
	color: #00b1dd;
}
.inspiralia-clients-section .owl-controls .owl-buttons div:hover {
	background-color: #00b1dd;
	border-color: #00b1dd;
	color: #fff;
}

.projects-news-header .row h3, .inspiralia-section.inspiralia-sourcing h3, .map-information .title-information, .inspiralia-section.inspiralia-leading-market h3 {
	color: #00b1dd;
}
.inspiralia-testimonial-section .row .item, .inspiralia-section.inspiralia-markets-intro a.btn, .inspiralia-section.inspiralia-leading-market.inspiralia-internal a.btn, .inspiralia-section.inspiralia-leading-market.inspiralia-internal h2, .inspiralia-section.inspiralia-leading-market.inspiralia-internal h3, .inspiralia-section.inspiralia-markets-intro h2, .inspiralia-section.inspiralia-markets-intro h3 {
	color: #FFF;
}

.inspiralia-section.inspiralia-markets-intro a.btn, .inspiralia-section.inspiralia-leading-market.inspiralia-internal a.btn {
	background-color: transparent;
	border-color: #FFF;
}

.map-information .button-information, .inspiralia-section.inspiralia-sourcing a.btn, .inspiralia-section.inspiralia-leading-market a.btn {
	background-color: #00b1dd;
	color: #FFF;
}

.inspiralia-testimonial-section .owl-item:nth-child(n+1) .row .item {
	background-color: #00b1dd;
}

.inspiralia-testimonial-section .owl-item:nth-child(2n+0) .row .item {
	background-color: #a1a4a6;
}

.inspiralia-testimonial-section .owl-item:nth-child(3n+0) .row .item {
	color: #58595b;
	background-color: white;
}

.inspiralia-testimonial-section .owl-item:nth-child(3n+0) .row .item .inspiralia-testimonial-contact h4,
.inspiralia-testimonial-section .owl-item:nth-child(3n+0) .row .item .inspiralia-testimonial-contact h5,
.inspiralia-testimonial-section .owl-item:nth-child(3n+0) .row .item .inspiralia-testimonial-contact a {
	color: #58595b;
}

.inspiralia-testimonial-section .inspiralia-testimonial-post-box article .inspiralia-testimonial-contact h4,
.inspiralia-testimonial-section .inspiralia-testimonial-post-box article .inspiralia-testimonial-contact h5,
.inspiralia-testimonial-section .inspiralia-testimonial-post-box article .inspiralia-testimonial-contact a {
	color: #FFF;
}

.inspiralia-project-news-section .row .item article.large h4, .inspiralia-project-news-section .row .item a {
	color: #58595b;
}


.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input,
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap textarea {
	border-color: #00b1dd;
	color: #e3e3e3;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e3e3e3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e3e3e3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e3e3e3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e3e3e3;
}

main.contact_content section.description h2{
	color: #58595b;
}

main.contact_content section.description .row aside {
	background-color: #f2f2f2;
}

.clients_filter .label,
.case_studies_filter .label {
	color: #00b1dd;
}

.clients_list {
	border-top: 1px solid #f2f2f2;
}

.clients_list .item .content a {
	color: #58595b;
}
.clients_list .item .content a:hover {
	color: #00b1dd;
}

#details_modal {
	background-color: #f2f2f2;
}

#details_modal .details_modal_close  {
	border-color: #e5e5e5;
}
#details_modal .details_modal_content .details_modal_wrapper h4,
#details_modal .details_modal_content .details_modal_wrapper {
	color: #56585b;
}
.carreers_wrapper .carreers_list .content .item a:hover {
	color: #00b1dd;
}

.carreers_wrapper .carreers_list .content .item a {
	color: #666666;
	border-top: 2px solid #f2f2f2;
}

.carreers_wrapper .carreers_list .content .item:last-child a {
  border-bottom: 2px solid #F2f2f2;
}

.carreers_wrapper .carreers_list .content .item .carreers_details_modal {
	background-color: #f2f2f2;
}
.carreers_wrapper .carreers_list .content .item .carreers_details_modal a.details_modal_close {
	color: #00b1dd;
}
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .details_modal_wrapper .details_modal_left,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .details_modal_wrapper .details_modal_right,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .details_modal_wrapper .details_modal_right .details_modal_body h1,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .details_modal_wrapper .details_modal_right .details_modal_body h2,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .details_modal_wrapper .details_modal_right .details_modal_body h4,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .details_modal_wrapper .details_modal_right .details_modal_body h3,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .details_modal_wrapper .details_modal_right .details_modal_body h5,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal h3.details_modal_title {
	color: #58595b;
}

.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .action button.btn:hover,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .action button.btn:focus,
.carreers_wrapper .carreers_list .content .item .carreers_details_modal .details_modal_content .action button.btn.focus {
	background-color: #FFF;
	border: 1px solid #00b1dd;
	color: #00b1dd;
}

.carreers_wrapper .modal .modal-dialog .modal-content .modal-header h4.modal-title {
	color: #58595b;
}

.carreers_wrapper .modal .modal-dialog .modal-content .modal-footer button.btn.btn-primary:hover,
.carreers_wrapper .modal .modal-dialog .modal-content .modal-footer button.btn.btn-default {
	background-color: #FFF;
	border: 1px solid #00b1dd;
	color: #00b1dd;
}
.carreers_wrapper .modal .modal-dialog .modal-content .modal-footer button.btn.btn-default:hover,
.carreers_wrapper .modal .modal-dialog .modal-content .modal-footer button.btn.btn-primary {
	background-color: #00B1dd;
	border: 1px solid #FFF;
	color: #FFF;
}

.carreers_wrapper .modal .modal-dialog .modal-content .modal-body .box__file {
  outline: 2px dashed #00b1dd;
}
.carreers_wrapper .modal .modal-dialog .modal-content .modal-body .box__file.dragover {
  outline: 2px dashed #FFF;
  background-color: #00b1dd;
  color: #fff;
  outline-offset: -10px;
}

.carreers_wrapper .modal .modal-dialog .modal-content .modal-body input[type=file] {
	border: none;
	margin: 5px 0;
}

.carreers_wrapper .modal .modal-dialog .modal-content .modal-body input {
	border: 2px solid #00b1dd;
}

.carreers_wrapper .modal .modal-dialog .modal-content .modal-body span.red {
	border: 2px dashed red;
  background-color: bisque;
  color: red;
}


/*==================== sitemap ====================*/
.sitemap li::before, .sitemap li::after {
	border-top: 1px solid #00b1dd;
}

.sitemap li::after {
	border-left: 1px solid #00b1dd;
}

.sitemap li:last-child::before {
	border-right: 1px solid #00b1dd;
}

.sitemap ul ul::before {
	border-left: 1px solid #00b1dd;
}

.sitemap li a {
	border: 1px solid #00b1dd;
  color: #FFFFFF;
  background-color: #77828c;
}
.sitemap li a:hover {
  border: 1px solid #fff;
  color: #FFF;
  background-color: #00b1dd;
}

.sitemap > ul > li > a {
	background-color: #58595b;
}
.sitemap > ul > li > a:hover {
	background-color: #F2F2F2;
}

/*==================== footer color ====================*/
/*=== footer heading color ===*/
footer .inspiralia-footer-top-area h6, footer .inspiralia-widget h6 {
	color: #fff;
}

footer .inspiralia-widget .calendar_wrap table thead th, footer .inspiralia-blog-post span, footer p, footer .inspiralia-widget .textwidget, footer a, footer .inspiralia-widget .list-unstyled li a, footer .inspiralia-widget .inspiralia-twitter-feed li, footer .inspiralia-widget .inspiralia-widget-address li, footer .inspiralia-widget .inspiralia-social li span.icon-soci, footer .inspiralia-widget .inspiralia-opening-hours li, footer .inspiralia-widget .inspiralia-widget-tags a ,footer .inspiralia-widget .tagcloud a, footer .inspiralia-widget-quote .form-control, footer .inspiralia-widget-tollfree li a, footer .inspiralia-widget-tollfree li i, footer .inspiralia-widget-payment a, footer .inspiralia-calendar a:hover, footer .inspiralia-calendar thead th, footer .wpcf7-form p, footer .inspiralia-widget .wpcf7-form .wpcf7-form-control {
	color: #FFF;
	font-weight: normal;
}

footer .inspiralia-widget .form-control, footer .inspiralia-widget ul li, footer .inspiralia-widget .list-unstyled li, footer .inspiralia-widget .inspiralia-social li span.icon-soci, footer .calendar_wrap caption, footer .inspiralia-widget .inspiralia-widget-tags a, footer .inspiralia-widget .tagcloud a, footer .calendar_wrap table thead th  {
	border-color: #969ea7;
}
/*==================== footer hover color ====================*/
footer a:hover, footer a:focus, footer .inspiralia-widget .inspiralia-subscribe:hover, footer .inspiralia-widget .inspiralia-subscribe:focus, footer .inspiralia-widget .inspiralia-search-widget .btn:hover, footer .inspiralia-widget .inspiralia-search-widget .btn:focus, footer .inspiralia-widget .list-unstyled li a:hover, footer .inspiralia-widget .inspiralia-opening-hours li:hover, footer .inspiralia-widget .inspiralia-widget-address li span.icon-addr, footer .inspiralia-widget .inspiralia-social li span.icon-soci:hover i, footer .inspiralia-widget .inspiralia-social li span.icon-soci:hover, footer .inspiralia-widget .inspiralia-widget-tags a:hover ,footer .inspiralia-widget .tagcloud a:hover, footer .inspiralia-calendar a, footer .inspiralia-calendar tbody td, footer .inspiralia-calendar tbody #today {
	color: #fff;
}


footer .inspiralia-calendar tbody #today:hover, footer .inspiralia-calendar tbody td:hover, footer .inspiralia-calendar tfoot, footer .inspiralia-calendar tfoot a {
	color: #333;
}

/*==================== footer background ====================*/
footer .inspiralia-footer-widget-area {
	border-top-color: rgba(225,225,225,0.2);
	color: #FFF;
	background-color: #a7a9ac;
}
footer .inspiralia-footer-widget-area .inspiralia-widget h4 {
	color: #fff;
}
footer .inspiralia-footer-copyright {
	background-color: #000;
	border-color: rgba(225,225,225,0.2);
}
footer .inspiralia-footer-copyright p, footer .inspiralia-footer-copyright a {
	color: #969ea7;
}
footer .inspiralia-footer-copyright a:hover, footer .inspiralia-footer-copyright a:focus {
	color: #fff;
}
.inspiralia_scroll {
	background-color: #00b1dd;
	color: #fff;
}
.inspiralia_scroll i {
	color: #fff;
}

/*Responsive*/
@media (max-width: 992px) {
.inspiralia-trhead {
	background-color: transparent;
}
}

.modal-backdrop {
	background: #666666;
}
